* {
    box-sizing: border-box;
}

body{
    background-color: blue;
    font-family: 'Righteous', cursive;
}

#container{
    width: 90%;
    background-color: white;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Abril Fatface', cursive;
    margin: 0;
}

h1 {
    float: left;
    padding-left: 1em;
    padding-top: 0.8em;
}

#search {
    float: left;
    padding: 1.25em;
}

#search input {
    padding: 0.5em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#navigation {
    background-color: rgb(255, 0, 0);
}

#navigation ul {
    list-style: none;
    padding: 0;
}

#navigation li {
    float: left;
    padding: 10px 20px;
    border-right: 2px solid black;
}

#navigation li:hover {
    background-color: white;
    cursor: pointer;
}

#promotions {
    background-color: gray
}

#promotions * {
    float: left;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}

#promotions .arrow {
    width: 5%;
    background-color: white;
    font-size: 2em;
    padding: 0;
}

.promo {
    width: 90%;
}

main{
    width: 100%;
    min-height: 350px;
}

main > aside{
    float: left;
    width: 20%;
    background-color: yellow;
    padding: 20px;
}

main > section {
    width: 80%;
    float: left;
    padding: 20px;
    background-color: black;
    color: white;
}

aside select {
    width: 100%;
}

aside hr {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#product-listings {
    list-style: none;
    margin:0;
    padding:0;
}

.product {
    width: 30%;
    background-color: white;
    float: left;
    margin: 0 20px 20px 0;
    color: black;
}

.product img {
    width: 90%;
    margin: 10px auto;
    display: block;
}

.product h4, .product p, .product a {
    margin: 0;
    text-align: center;
    display: block;
}

footer {
    background-color: white;
    text-align: center;
}

footer p {
   padding: 10px;
   margin: 0;
}